body, html{
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    background-image: url("p.webp");
    user-select: none;
    overflow-x:hidden;
    scroll-behavior: smooth;
   
}

img{
    overflow:hidden;
    object-fit: cover;
   
}
.header{
    position:fixed;
    z-index:2;
    overflow:hidden;
    background-color: black;
    top:0%;
}
.header a.logo{
    font-size: 25px;
    color: orange;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: width 2s;
} 


.header a{
    float: left;
    color:white;
    text-align: center;
    padding: 12px;
    text-decoration:none;
    font-size:18px;
    line-height:25px;
    border-radius:4px;
}

.header a:hover{
    background-color:orange;
    color:black;
}
.header-right{
    float:right;
}
.container{
    position:relative;
    text-align:center;
    color:white;
}
.Name{
    position:absolute;
    bottom:60px;
    right:350px;
    font-size: 40px;
    font-weight:bold;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5);
}
.work{
    position:absolute;
    bottom:8px;
    right:150px;
    font-size: 30px;
}
.image{
    position:absolute;
    left:300px;
    top:80px;
    z-index: 1;
    margin-left:180px;
    margin-top:200px;   
    border-radius: 50;
}
.objective{
    float:right;
    position:absolute;
    right:600px;
    font-style: oblique;
    margin-top:70px;
   
    color:white;
}
.obj{
    float:right;
    position:absolute;
    right:875px;
    font-style: oblique;
    color: white;
    margin-top: 20px;
    font-size: 25px;
}
.obj:hover{
    background-color: #dddddd;
    color:white;
    border-radius: 4px;

}
.button{
    text-decoration:none;
    float:right;
    margin-top:230px;
    position:absolute;
    right:860px;
    display:-webkit-box;
    border:2px solid white;
    border-radius:20px;
    padding:12px;
}
.button a{
    color: white;
    text-decoration:none;
}
.button:hover{
    background-color:orange;
    transition:0.8s;
}

#about{
    width:100%;
    height:auto;
}
.about-text{
    position:absolute;
    left: 50%;
    top:1000px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    border:none;
}
.Ab_img{
    position: absolute;
    top: 100%;
    left:25%
   
}
.border_img{
    border-color: white;
    border-width: 7px;
    border-style: solid;
    border-radius: 50%;
    box-shadow: 25px 10px 10px 10px orange;
}

h1{
    color:white;
    position:absolute;
    top:240%;
    left:37%;
    font-size: 60px;
}
h1:before{
    content:"";
    display:block;
    background: white;
    width:150px;
    height:4px;
    right:105%;
    top:50%;
    position: absolute;
    z-index: -2;
}
h1:after{
    content:"";
    display:block;
    background: white;
    width:150px;
    height:4px;
    left:105%;
    top:50%;
    position: absolute;
    z-index: -2;
}
.container1{
    position: absolute;
    top:260%;
    left:37%;
    background:white;
    border-radius: 15px;
    text-align:center;
    width:250px;
    height:200px;
}
.projects{
    font-size:20px;
    color:blue;
    opacity:3.0;
}

.container2{
    position: absolute;
    top:260%;
    left:51%;
    background:white;
    border-radius: 15px;
    text-align:center;
    width:250px;
    height:200px;
}
.intern{
    font-size:20px;
    color:blue;
    opacity:3.0;
}
br{
    margin:7px;
}

.num{
    position: absolute;
    width:80px;
    height:70px;
    left:30%;
    border-style:solid;
    border-width: 10px;
    border-color:rgba(red, green, blue, alpha);
    border-top-color: red;
    border-radius:50%;
}
.num:hover{
    background-color: lightgrey;
}
.numlink{
    text-decoration:none;
    font-size: 50px;
    
}
.he{
    position:absolute;
    top:160%;
    left:45%
}
.he:before{
    content:"";
    display:block;
    background: white;
    width:150px;
    height:4px;
    right:105%;
    top:50%;
    position: absolute;
    z-index: -2;
}
.he:after{
    content:"";
    display:block;
    background: white;
    width:150px;
    height:4px;
    left:105%;
    top:50%;
    position: absolute;
    z-index: -2;
}
.ML{
    position: absolute;
    top:180%;
    left:10%;
    background:white;
    border-radius: 15px;
    text-align:center;
    width:350px;
    height:450px;
}
.SDE{
    position: absolute;
    top:180%;
    left:30%;
    background:white;
    border-radius: 15px;
    text-align:center;
    width:350px;
    height:450px;
}
.WD{
    position: absolute;
    top:180%;
    left:50%;
    background:white;
    border-radius: 15px;
    text-align:center;
    width:350px;
    height:450px;
}
.CS{
    position: absolute;
    top:180%;
    left:70%;
    background:white;
    border-radius: 15px;
    text-align:center;
    width:350px;
    height:450px;
}
.ML .mlimg{
    position: absolute;
    overflow: hidden;
    width:350px;
    height: 250px;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .mlimg:hover .imag {
    opacity: 0.3;
  }
  
  .mlimg:hover .middle {
    opacity: 1;
  }
  
  .text {
    color: blue;
    font-size: 30px;
    font-weight: bolder;
  }
.SDE .sdeimg{
    position: absolute;
    overflow: hidden;
    width:350px;
    height: 250px;
}
.sdeimg:hover .imag {
    opacity: 0.3;
  }
  
.sdeimg:hover .middle {
    opacity: 1;
  }
  
.WD .wdimg{
    position: absolute;
    overflow: hidden;
    width:350px;
    height: 250px;
}
.wdimg:hover .imag {
    opacity: 0.3;
}
  
.wdimg:hover .middle {
    opacity: 1;
}
  
.CS .csimg{
    position: absolute;
    overflow: hidden;
    width:350px;
    height: 250px;
}
.csimg:hover .imag {
    opacity: 0.3;
  }
  
.csimg:hover .middle {
    opacity: 1;
}
.write{
    position:absolute;
    color: black;
    font-size: 17px;
    font-weight: bolder;
    font-family:Georgia, 'Times New Roman', Times, serif;
    top:60%;
    left:5%;
}
.p{
    position:absolute;
    top:300%;
    left:35%;
}
.p:before{
    content:"";
    display:block;
    background: white;
    width:150px;
    height:4px;
    right:105%;
    top:50%;
    position: absolute;
    z-index: -2;
}
.p:after{
    content:"";
    display:block;
    background: white;
    width:150px;
    height:4px;
    left:105%;
    top:50%;
    position: absolute;
    z-index: -2;
}

.daimg{

    width:450px;
    height:400px;
    position:absolute;
    top:325%;
    left:16%
}
.da{
    position:absolute;
    right:28%;
    top:324%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size:35px;
}
.pr{
    position:absolute;
    top:330%;
    right: 5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size:20px;
    font-weight: bolder;
}
.daimg1{

    width:450px;
    height:400px;
    position:absolute;
    top:375%;
    left:16%
}
.da1{
    position:absolute;
    right:45%;
    top:375%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size:35px;
}
.pr1{
    position:absolute;
    top:380%;
    right: 8%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size:20px;
    font-weight: bolder;
}
.daimg2{

    width:450px;
    height:400px;
    position:absolute;
    top:430%;
    left:16%
}
.da2{
    position:absolute;
    right:19%;
    top:430%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size:35px;
}
.pr2{
    position:absolute;
    top:435%;
    right: 10%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size:20px;
    font-weight: bolder;
}

footer{
    background-image: url("o.webp");
    padding:10px;
    text-align:center;
    color:white;
    transform:translate(0%,90%);
    width:100%;
    height: 400px;
    position:absolute;
    top:460%;
}
form{
    width: 100%;
}
.contact{
    position:absolute;
    right:10%;
}
#lname{
    width:100%;
}
#fname{
    width:100%
}
#email{
    width:100%;
}
.foot{
    background-position:left;
    background-size:cover;
    color:white;
    opacity:1.0;
    overflow:hidden;
}
footer{
    top:730%;
}

.menu{
    position:absolute;
    top: 55%;
    left: 20%;
    transform:translate(-50%, -50%);
    opacity: 1.5;

}
ul{
    padding: 0px;
    margin: 0px;
    display:flex;
}
ul li{
    list-style: none;
    border: none;
    font-size: 20px;
    font-weight:bold;
    opacity: 4.0;
    margin:30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}
ul li a{
    text-decoration:none;
    padding: 5px 10px;
    text-align:center;
    color:orange;
    transition: all 0.5s ease-in-out;
    opacity: 1.5;

}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
    margin:15px;
    position:absolute;
    top:24%;
    left:10%;
   

  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
    position:absolute;
    top:26%;
    left:15%;
    
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
    position:absolute;
    top:26%;
    left:20%;
    
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
    position:absolute;
    top:26%;
    left:25%;
   
  }
#up{
    display:none;
    right:3rem;
    
}
.text1{
    font-size:60px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:white;

}

@media screen and (max-width: 768px){
    .body{
        overflow:hidden;
    }

    .header a.logo{
        font-size: 18px;
    }
    .header a{
        font-size:15px;
        font-weight: bolder;
    }
    .image{
        position:relative;
        float:left;
    }
    .container{
        width: 100%;
    }
    .work{
        font-size: 18px;
        left:60%;
        width:40%;
    }
    .Name{
        width:50%;
        font-size:28px;
        left:53%;
    }
    .daimg{
       width:330px;
       height:270px; 
       left:5%;
       top:480%;
    }
    .p{
        font-size:30px;
        top: 450%;
        left:30%;
    }
    .we{
        font-size:30px;
        top: 375%;
        left:15%;
    }
    .p:before{
        width:80px;
        height:3px;
    }
    we:before{
        width:20px;
        height:3px;
    }
    he:before{
        width:40px;
        height:3px;
    }
    .p:after{
        width:80px;
        height:3px;
        left:67%;
    }
    .we:after{
        width:20px;
        height:3px;
        left:80%;
    }
    .he:after{
        width:70px;
        height:3px;
        left:105%;
    }
    .container1{
        width:170px;
        height:130px;
        left:2%;
        top:400%;
    }
    .projects, .intern{
        font-size:15px;
    }
    .container2{
        width:170px;
        height:130px;
        left:51%;
        top:400%;
    }
    .numlink{
        font-size:30px;
    }
    .num{
        width:40px;
        height:40px;
    }
    .fa{
        font-size:15px;
        display:flex;
        flex-direction: column;
    }
    .fa-facebook {
        top:80%;
        left:3%;
       
    
      }
      
      .fa-twitter {
        
        top:83%;
        left:27%;
        
      }
      
      .fa-google {
        top:83%;
        left:39%;
        
      }
      
      .fa-linkedin {
        top:83%;
        left:61%;
       
      }
      .form{
          width:50%;
      }
      ul li{
          font-size:15px;  
          margin:10px;  
      }
      .menu{
          top:105%;
          left:50%;
          background-color: black;
      }
      .copy{
          position: absolute;
          top:88%;
          right:7rem;
      }
      .border_img, .Ab_img{
          width: 250px;
          height:350px;
          left:10%;
          top:125%;
      }
      .about-text{
          top:175%;
          left:10%;
          font-size:15px;
      }
      .text1{
          font-size:40px;
          top:10%;

      }
      .he{
          top:250%;
          font-size:35px;
          left:40%;
          
      }
      .ML, .SDE, .WD, .CS{
          top:270%;
      }
      .my_img{
          width:150px;
          height:250px;
      }   
         
      .image{
        position: absolute;
        z-index:inherit -1;
        top:25%;
        left:0%;
        margin-left:50px;
        margin-top:0px;
    }
    .button{
        position:absolute;
        top:26%;
        left:65%;
        width:23%;
    }
    .obj,.objective{
        top:60%;
        left:15%;
        width:70%;
    }
    .ML{
        left:7%;
        animation: skills 25s infinite;
        animation-delay: 5s;
        width:320px;
        height:420px;
    }
    .SDE{
        left:7%;
        animation: skills 25s infinite;
        animation-delay: 20s;
        width:320px;
        height:420px;
    
    }
    .WD{
        left:7%;
        animation:skills 25s infinite;
        animation-delay:15s;
        width:320px;
        height:420px;
    }
    .CS{
        left:7%;
        animation: skills 25s infinite;
        animation-delay: 10s;
        width:320px;
        height:420px;

    }
    .ML .mlimg{
        width:320px;
        height: 250px;
        overflow:hidden;
    }
    .SDE .sdeimg{
        width:320px;
        height: 250px;
        overflow:hidden;
    }
    .CS .csimg{
        width:320px;
        height: 250px;
        overflow:hidden;
    }
    .WD .wdimg{
        width:320px;
        height: 250px;
        overflow:hidden;
    }
    .write{
        font-size:15px;
    }

    @keyframes skills{
        0% { opacity: 1 ; z-index: 2; }
        33.333% { opacity: 0; z-index: 1; }
        66.666% { opacity: 0; z-index: 0; }
        100% { opacity: 1; z-index: 2; }
    }
    .pr2{
        top:717%;
        font-size:15px;
        left:10%;
    }

    .da{
        top:470%;
        font-size:25px;
        left:10%;
        width:80%;
    }
    .pr{
        font-size:15px;
        top:520%;
        left:10%;
    }

    .da1{
        top:580%;
        left:35%;
        width:50%;
        font-size:23px;
    }
    .daimg1{
        top:586%;
        width:330px;
        height:270px; 
        left:5%
    }
    .pr1{
        font-size:15px;
        top:627%;
        left:10%;

    }
    .da2{
        top:663%;
        font-size:23px;
        left:10%;
        width:80%;
    }
    .daimg2{
        top:675%;
        width:330px;
        height:270px; 
        left:5%
    }
    
      


    
}

  

